@layer components {
  /* #region GENERAL */
  .header {
    @apply bg-navbar flex items-center justify-between py-1.5 md:py-3 px-2 md:px-8 mb-10 fixed top-0 left-0 right-0 w-full z-10;
  }

  .header-logo {
    @apply hover:text-texthover active:text-texthover;
  }

  .header-logo.touch {
    @apply text-texthover;
  }

  .footer {
    @apply bg-navbar flex flex-col items-center justify-center py-2.5 md:py-5 mt-auto;
  }

  .util-icon {
    width: 1em !important;
    height: 1em !important;
  }

  .link-interaction-effect {
    @apply transition-all hover:text-texthover active:text-texthover;
  }

  .link-interaction-effect.touch {
    @apply text-texthover;
  }

  /* .link-interaction-underline-effect {
    @apply transition-all hover:underline active:underline;
  }

  .link-interaction-underline-effect.touch {
    @apply underline;
  } */

  .scroll-up-btn {
    @apply fixed right-4 bottom-4 z-[5] hidden h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-tag text-background transition-all hover:text-foreground active:text-foreground md:h-10 md:w-10;
  }

  .scroll-up-btn.touch {
    @apply text-foreground;
  }
  /* #endregion */

  /* #region NAV MENU */
  .topbar-menu {
    @apply z-10 box-border w-full bg-navbar p-4 sm:z-auto sm:box-content sm:w-auto sm:p-0;

    height: calc(100vh - var(--header-height) + 5px);
  }

  @media (min-width: 640px) {
    .topbar-menu {
      height: auto;
    }
  }

  .topbar-nav {
    @apply text-base font-bold sm:flex sm:items-center sm:justify-center md:text-xl;
  }

  .side-navmenu-border {
    @apply border-solid border-[1px] border-foreground my-3 md:my-5;
  }
  /* #endregion */

  /* #region PROJECTS PAGE */
  .project-card {
    @apply flex flex-col items-center justify-between gap-2 h-auto rounded-xl bg-projectcard p-5 border-2 border-b-6 border-border hover:border-borderhover active:border-borderhover;
  }

  .project-card.touch {
    @apply border-borderhover;
  }
  /* #endregion */

  /* #region IND-PROJECT PAGE */
  .project-yt-vd {
    @apply w-full h-auto m-auto border-2 border-border relative aspect-w-16 aspect-h-9;
  }

  .project-link {
    @apply flex flex-row justify-center items-center gap-x-1 font-medium text-projectlink text-base md:text-xl text-center;
  }

  .project-link-text {
    @apply no-underline hover:underline underline-offset-4 decoration-solid;
  }

  .project-link-text.touch {
    @apply underline;
  }

  .project-tag-container {
    @apply flex flex-row flex-wrap gap-3;
  }
  /* #endregion */

  /* #region EXTRAS-PAGE */
  .painting {
    @apply h-auto max-w-full rounded-lg;
    /* border-4 border-foreground; */
  }
  /* #endregion */
}
