---
import BaseLayout from "@/layouts/BaseLayout.astro";

const metadata = {
  title: "Extras | Parva's Portfolio",
  description:
    "Learn top computer courses with V.Vidhya. From programming to graphic design, boost your skills and indulge your creativity to do real work with the help of technology.",
};
---

<BaseLayout metadata={metadata} navSection="extras">
  <main class="px-8 lg:px-10">
    <section>
      <h2 class="text-center text-3xl md:text-5xl font-bold mb-10">
        <!-- underline underline-offset-2 sm:underline-offset-4 mt-3 mb-10 -->
        Paintings
      </h2>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 mb-5 md:mb-10">
        <div class="grid gap-6">
          <div>
            <img
              class="painting"
              src="/images/paintings/butterfly.webp"
              alt="painting"
              decoding="async"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/cock.webp"
              alt="painting"
              decoding="async"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/deer.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/camel.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/girls.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/kumbhar.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/rectangle-design.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/save-water.webp"
              alt="deer painting"
              decoding="async"
              loading="lazy"
            />
          </div>
        </div>
        <div class="grid gap-6">
          <div>
            <img
              class="painting"
              src="/images/paintings/duck.webp"
              alt="painting"
              decoding="async"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/elephant.webp"
              alt="painting"
              decoding="async"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/fish.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/bharwad.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/hexagon-design-2.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/lion-story.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/satya.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
        </div>
        <div class="grid gap-6">
          <div>
            <img
              class="painting"
              src="/images/paintings/panihari.webp"
              alt="painting"
              decoding="async"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/parrot.webp"
              alt="painting"
              decoding="async"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/overlapping1.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/circle-design.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/hexagon-design.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/parrot-2.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/save-earth.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
        </div>
        <div class="grid gap-6">
          <div>
            <img
              class="painting"
              src="/images/paintings/peacock1.webp"
              alt="painting"
              decoding="async"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/peacock2.webp"
              alt="painting"
              decoding="async"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/overlapping2.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/ganpati.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/kite-festival.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/rabbit-story.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <img
              class="painting"
              src="/images/paintings/save-energy.webp"
              alt="painting"
              decoding="async"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div
        class="max-w-md md:max-w-2xl lg:max-w-4xl m-auto items-center justify-center"
      >
        <p
          class="list-outside list-disc pl-5 md:pl-8 text-base md:text-lg lg:text-2xl"
        >
          <!-- <li> -->
          <span class="italic">P.S.</span> - These paintings were made during my school years, primarily between age 7 and 15 years.
          <!-- </li> -->
        </p>
      </div>
    </section>
  </main>
</BaseLayout>
