---
import LinkPage from "./LinkPage.astro";
import pfpIcon64 from "@/assets/icons/pfp/profile-icon-64.webp";
import pfpIcon128 from "@/assets/icons/pfp/profile-icon-128.webp";
import ThemeSelector from "./ThemeSelector.astro";
import SocialLinks from "./SocialLinks.astro";

const { navSection } = Astro.props;
---

<header class="header">
  <LinkPage href="/" class="flex flex-row items-center header-logo">
    <picture>
      <source media="(max-width: 639px)" srcset=`${pfpIcon64.src}` />
      <source media="(min-width: 640px)" srcset=`${pfpIcon128.src}` />
      <img
        class="h-9 sm:h-12 md:h-16 w-auto pr-0.5 md:pr-2"
        src=`${pfpIcon128.src}`
        alt="profile-icon"
        decoding="async"
      />
    </picture>
    <p class="font-semibold text-2xl md:text-3xl">Parva</p>
  </LinkPage>

  <button
    id="topbar-menu-btn"
    data-topbarmenu-state="close"
    class="text-2xl cursor-pointer mx-2 flex justify-center items-center sm:hidden"
    aria-label="Toggle Navigation Menu"
  >
    <svg
      data-state="open"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      class="util-icon"
      fill="currentColor"
      stroke="currentColor"
      stroke-width="15"
      aria-hidden="true"
    >
      <path
        d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
      ></path></svg
    >
    <svg
      data-state="close"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 384 512"
      name="open"
      class="util-icon"
      fill="currentColor"
      stroke="currentColor"
      stroke-width="30"
      style="display: none;"
      aria-hidden="true"
    >
      <path
        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
      ></path></svg
    >
  </button>

  <!-- <div class="text-2xl cursor-pointer mx-2 sm:hidden block">
    <i id="navbar-menu-btn" class="fa-solid fa-bars" name="menu"></i>
  </div> -->

  <div
    class="topbar-menu fixed left-[-640px] top-[45px] opacity-0 transition-transform ease-in sm:static sm:flex sm:opacity-100 sm:transition-none"
  >
    <!-- class="topbar-menu bg-navbar sm:flex z-[-1] md:z-auto left-0 absolute md:static w-full md:w-auto opacity-0 md:opacity-100 top-[-400px] transition-transform sm:transition-none ease-in" -->
    <div class="topbar-nav box-border h-full pb-20 sm:box-content sm:pb-0">
      <nav
        class="relative flex flex-col sm:flex-row items-start sm:items-center justify-center gap-3 sm:gap-0 sm:space-x-2 md:space-x-4 py-10 sm:py-0 font-semibold text-lg md:text-2xl"
      >
        <LinkPage
          href="/"
          title="Home"
          class={`link-interaction-effect ${navSection === "home" ? "underline underline-offset-6 sm:underline-offset-8" : ""}`}
        />
        <LinkPage
          href="/projects/"
          title="Projects"
          class={`link-interaction-effect ${navSection === "projects" ? "underline underline-offset-6 sm:underline-offset-8" : ""}`}
        />
        <LinkPage
          href="/extras/"
          title="Extras"
          class={`link-interaction-effect ${navSection === "extras" ? "underline underline-offset-6 sm:underline-offset-8" : ""}`}
        />

        <ThemeSelector />
      </nav>
    </div>

    <div
      class="mobile-social-links bg-navbar absolute bottom-0 left-0 z-20 box-border w-full px-2 pb-10 text-xl sm:box-content sm:hidden sm:w-auto sm:px-0 sm:pb-0"
    >
      <hr class="side-navmenu-border" />

      <div class="flex items-center space-x-4 px-4">
        <SocialLinks />
      </div>
    </div>
  </div>
</header>
