---
import IconSun from "./icons/IconSun.astro";
import IconMoon from "./icons/IconMoon.astro";
---

<button
  id="theme-btn"
  class="relative h-4 w-4 px-4 sm:h-auto sm:w-auto cursor-pointer py-4 sm:py-0"
  title="Toggles bw light & dark theme"
  aria-label="auto"
  aria-live="polite"
>
  <IconMoon
    styleClass="link-interaction-effect absolute top-[50%] left-[50%] -translate-[50%] scale-0 -rotate-90 transition-all dark:scale-100 dark:-rotate-0"
  />
  <IconSun
    styleClass="link-interaction-effect absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:rotate-90"
  />
</button>

<!-- <script src="../scripts/common/toggle-theme.js"></script> -->

<script is:inline>
  const themeOptions = {
    light: { backgroundColor: "#f9f8f4" },
    dark: { backgroundColor: "#1e1e1e" },
  };

  function getTheme() {
    const currentTheme = localStorage.getItem("theme");

    if (currentTheme) return currentTheme;

    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  }

  function reflectTheme(theme) {
    document.documentElement.setAttribute("data-theme", theme);
    document.documentElement.classList.toggle("dark", theme === "dark");
    document.querySelector("#theme-btn")?.setAttribute("aria-label", theme);

    const body = document.body;

    if (body) {
      document
        .querySelector("meta[name='theme-color']")
        ?.setAttribute("content", themeOptions[theme].backgroundColor);
    }
  }

  function setTheme(theme) {
    localStorage.setItem("theme", theme);

    reflectTheme(theme);
  }

  const toggleTheme = () => {
    const currentTheme = getTheme();

    setTheme(currentTheme === "dark" ? "light" : "dark");
  };

  function initializeThemeButton() {
    const themeBtn = document.getElementById("theme-btn");

    if (themeBtn) {
      themeBtn.removeEventListener("click", toggleTheme);

      themeBtn.addEventListener("click", toggleTheme);
    }
  }

  reflectTheme(getTheme());

  // document.addEventListener("astro:page-load", () => {
  //   setTheme(getTheme());
  //   initializeThemeButton();
  // });

  initializeThemeButton();

  document.addEventListener("astro:after-swap", () => {
    setTheme(getTheme());
    initializeThemeButton();
  });
</script>
