---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  projectDetails: {
    name: string;
  };
}

const {
  projectDetails = {
    name: "Project Name",
  },
} = Astro.props;

const metadata = {
  title: "Projects | Parva's Portfolio",
  description:
    "Learn top computer courses with V.Vidhya. From programming to graphic design, boost your skills and indulge your creativity to do real work with the help of technology.",
};
---

<BaseLayout metadata={metadata} navSection="">
  <main
    class="flex flex-col items-center justify-center px-5 lg:px-10 mx-auto max-w-mdsm md:max-w-2xl lg:max-w-6xl gap-12 md:gap-16 lg:gap-24"
  >
    <h2 class="text-center text-3xl md:text-5xl font-bold">
      <!-- underline underline-offset-2 sm:underline-offset-4 -->
      {projectDetails.name}
    </h2>

    <section
      class="w-11/12 md:w-3/4 flex flex-col items-center justify-center gap-2 md:gap-5"
    >
      <slot name="project-showcase" />
    </section>

    <section class="flex flex-col items-center justify-center gap-5 md:gap-8">
      <div class="flex flex-row justify-center flex-wrap gap-x-5 md:gap-x-10 gap-y-0.5">
        <slot name="project-refs" />
      </div>

      <div
        class="flex flex-col items-center justify-center flex-wrap gap-3 text-font-color"
      >
        <slot name="project-tags" />
      </div>

      <ul class="list-outside list-disc pl-5 md:pl-8 text-base md:text-lg">
        <slot name="project-description" />
      </ul>
    </section>
  </main>
</BaseLayout>
